a.btn-lg {
    border-radius: 0px;
    border: none;   
    z-index: 1000;
    background: rgba(255,255,255,0);
    position: fixed;
}

a.btn-lg:hover {
    background: rgba(255,255,255,0);
    
}

a.btn-lg:focus{
    background: rgba(255,255,255,0);

}

a.btn-lg:active{
    background: rgba(255,255,255,0);  
}

ul.sidebar-nav {
    font-family: 'Roboto', sans-serif;
    text-align: right;
    font-size: 20px;
    letter-spacing: 3px;
}

#logo {
    width: 250px;
    height: auto;
}

