a.btn-lg {
    border-radius: 0px;
    border: none;   
    outline-color: white;
    position: fixed;
}

a.btn-lg :hover {
    
}

#bdintex_menu {
    color: #0000cc;
    font-family: 'Droid Serif', serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 35px;
    text-decoration: underline;
}

ul.sidebar-nav {
    font-family: 'Roboto Mono', serif;
    text-align: left;
    font-size: 20px;
    letter-spacing: 3px;
    
    
}


